doctype html
head
  title= settings.title
  link(rel='icon', href='favicon/favicon.png')
  link(rel='stylesheet', href='css/spacelab/bootstrap.min.css')
  link(rel='stylesheet', href='css/style.css')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
  script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')

each panel in settings.panels
 li
  span #{panel.title}
nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/') BitcoinZ Info Bulletin
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right
        li
          a(href='https://bitcoinz.global', target='_blank') Site
        li
          a(href='http://bitcoinzguiding.ovh', target='_blank') Guides
      ul.nav.navbar-nav
        li
          a(href='#proposals') Proposals
        li
          a(href='#helpwanted') Help Wanted
        li
          a(href='#events') Events
        li
          a(href='#campaigns') Campaigns
        li
          a(href='#exchanges') Exchanges
        li
          a(href='#infrastructure') Infrastructure
        li
          a(href='#wallets') Wallets
.container
  .row.vertical-center-row
    img.img-responsive.center-block(src='images/logo_decentralized.png')
  .row.text-center(style='padding: 10px;')
    a(href='https://shop.spreadshirt.com/BitcoinZ/', target='_blank')
      | Support BitcoinZ - Get your T-Shirt, Hoodie, Mug, Apron, Phone Case, or more here!
  .row.vertical-center-row
    each panel, index in settings.panels
     div(id=panel.title).panel.panel-primary
      .panel-heading
        h3.panel-title #{panel.title}
      .panel-body
       span.container
        table.table.table-striped.table-hover.table-bordered
         thead
          tr
           each heading in settings.panels[index].headings
            th #{heading}
           tbody
            tr
             each datarow in panel.headings
               td #{datarow}
    #proposals.panel.panel-primary
      .panel-heading
        h3.panel-title Proposals
      .panel-body
        span.container
          table.table.table-striped.table-hover.table-bordered
            thead
              tr
                th #
                th Type
                th Name
                th Budget
                th Status
                th Links
            tbody
              tr
                td 1
                td Community Campaign
                td Community YouTube / Twitter Campaign #1
                td 100,000 BTCZ per week / one week duration
                td Vote Passed / Campaign Expired
                td
                  a(href='http://www.strawpoll.me/14517768/r', target='_blank') Results / 
                  a(href='https://docs.google.com/document/d/1fnsY7khYimf9wOXcj6-hO0tDHVXYeFVbcql_lP3ofK4/edit?usp=sharing', target='_blank') Payment Updated
              tr
                td 2
                td Community Competition
                td Community Competition #1
                td 45,000 - 75,000 BTCZ
                td Vote Passed
                td
                  a(href='http://www.strawpoll.me/14518351/r', target='_blank') Results / 
                  a(href='https://docs.google.com/document/d/14mPlKiQyef8rmTqZnY0hdKBHANtTEEbWXAgZY50ORKQ/edit?usp=sharing', target='_blank') Details
              tr
                td 3
                td PR &amp; Media
                td PR &amp; Media Campaign #1
                td 150,000 BTCZ +25,000 BTCZ to add new country
                td Vote Passed / Distributing 
                td
                  a(href='http://www.strawpoll.me/14564234/r', target='_blank') Results / 
                  a(href='https://docs.google.com/document/d/1TDjSG-d7u2oWrba9ZMxfz_F3CADq7n53Sj_tGPAM8Ss/edit?usp=sharing', target='_blank') Payment Details
              tr
                td 4
                td Twitch Tournament
                td Twitch Tournament Sponsorship #1
                td $850 USD in BTCZ
                td Vote Passed 
                td
                  a(href='http://www.strawpoll.me/14744750/r', target='_blank') Results / 
                  a(href='https://docs.google.com/document/d/1UMlxhAnXI5QePBvBJAXPlhBH1LslR7z_fjDnBM4Y6Mo/edit?usp=sharing', target='_blank') Payment Details
                  a(href='https://www.twitch.tv/livevvvgaming', target='_blank')  / Twitch Channel
              tr
                td 5
                td GUI Miner
                td  Branded - All In One Miner #1 
                td 300,000  BTCZ
                td Vote Passed / Payment Delivered
                td
                  a(href='http://www.strawpoll.me/14578069/r', target='_blank') Results / 
                  a(href='https://docs.google.com/document/d/1p-jqs7HYJ_qtmwqDnawZM8jgjQw7Mx0IUc_c12nDiCQ/edit?usp=sharing', target='_blank') Payment Details
                  a(href='https://youtu.be/7FjW2kV3VzQ', target='_blank')  / Start Mining
              tr
                td 6
                td Video Marketing
                td Video Marketing #1
                td 100,000 BTCZ
                td Vote Passed
                td
                  a(href='http://www.strawpoll.me/14578094/r', target='_blank') Results / 
                  a(href='https://docs.google.com/document/d/13OspN1gfxOTO1Ek-TtSOvpjowS3a-x4DnJTDODZ_t_w/edit?usp=sharing', target='_blank') Payment Details
              tr
                td 7
                td Exchange Listing
                td Paid Exchange Listing #1 (crypto-bridge) 
                td 400,000 BTCZ
                td Vote Passed
                td
                  a(href='http://www.strawpoll.me/14608560/r', target='_blank') Results / 
                  a(href='https://docs.google.com/document/d/1LV0c3ABV_XuNnqqtPAZaYYBegjie-C0Ogf7bZ-8VMfo/edit?usp=sharing', target='_blank') Payment Refunded 
              tr
                td 8
                td Coinomi Wallet
                td Coinomi Wallet Listing #1
                td 1.25 BTC + 0.25 BTC in BTCZ
                td Vote Passed 
                td
                  a(href='http://www.strawpoll.me/14641589/r', target='_blank') Results / 
                  a(href='https://docs.google.com/document/d/14oE4E3_WfFQAR7uxHP7Ex66fIOWj39GygB6GpXuUkLA', target='_blank') Payment Details / 
                  a(href='http://btcz.altervista.org/coinomi.html', target='_blank') Funds Tracker 
                  |  / 
                  a(href='https://coinomi.com/') Get Coinomi
              tr
                td 9
                td BitcoinZ Interactive Bots
                td BitcoinZ Bot Continued Development #1
                td 150,000 BTCZ
                td Vote Ended 01/09/2018 
                td
                  a(href='http://www.strawpoll.me/14748097/r', target='_blank') Vote Not Passed / 
                  a(href='https://docs.google.com/document/d/1jRRBauzZKjywsc8ydHGHnt5BKrw5UDn5v63hatQykqQ/edit?usp=sharing', target='_blank') Proposal Details 
              tr
                td 10
                td Exchange Listing
                td Hash Race Exchange Listing #1
                td 5 BTC Fund Raiser
                td Vote Ended
                td
                  a(href='https://doodle.com/poll/t2bpenn288s6ndna', target='_blank') Results / 
                  a(href='https://hodler95.github.io/exchangesrace/', target='_blank') Race Tracker / 
                  a(href='https://docs.google.com/document/d/1R3E_XQdR4EaeSdoqD5w-o7ieL9y-_kgqBQz0j8gKOlk/edit?usp=sharing', target='_blank') Race Details 
              tr
                td 11
                td Ledger Nano S Wallets
                td Ledger Nano S Integration #1
                td $895 USD 
                td Vote Passed - Ordering devices 
                td
                  a(href='http://www.strawpoll.me/14976387/r', target='_blank') Results
                  |  / 
                  a(href='https://docs.google.com/document/d/1wx90oPq_gfZAYYjbF_QfJ2586NUs7oUjLDRhoezwO8I/edit?usp=sharing', target='_blank') Payment Details
              tr
                td 12
                td Logo update
                td BitcoinZ Logo Update + Marketing Package #1
                td TBD 
                td Vote Ended 
                td
                  a(href='http://www.strawpoll.me/15061526/r', target='_target') Vote Not Passed
                  a(href='https://docs.google.com/document/d/1_kWO1l4P54nNZbU168EOpgnoGnThR07pZbscy_BLTME/edit?usp=sharing', target='_blank')  / Proposal Details
              tr
                td 13
                td Governance &amp; Procedure
                td Framework &amp; Method Proposal #1
                td None Requested
                td
                  | Community Review 
                  span.label.label-danger New 
                td
                  a(href='https://docs.google.com/document/d/1JDeZa1aDYB91eKtwJ8Bd-mcmGCBqygCIRo8yk54-Yq0/edit?usp=sharing', target='_blank') Proposal Details
              tr
                td 14
                td Sponsorship
                td Hearthstone - Streamer #1
                td $500 - $750 in BTCZ 3months
                td
                  | In Voting 
                  span.label.label-danger New 
                td
                  a(href='https://forum.btcz.rocks/t/sponsor-a-hearthstone-youtube-streamer/63', target='_blank') Vote Now
          .col-md-12.text-center
            a.btn.btn-success(href='https://forum.btcz.rocks/t/read-first-proposal-submission-template/54', target='_blank') Submit New Proposal
    #helpwanted.panel.panel-primary
      .panel-heading
        h3.panel-title Help Wanted 
      .panel-body
        span.container
          table.table.table-striped.table-hover.table-bordered
            thead
              tr
                th #
                th Type
                th Description
                th Web Link
                th Repository
            tbody
              tr
                td 1
                td Website
                td Primary Website
                td
                  a(href='https://btcz.rocks/', target='_blank') Visit
                td
                  a(href='https://github.com/bitcoinz-sites/btcz.rocks', target='_blank') Github
              tr
                td 2
                td Website
                td Progress / Info Bulletin
                td
                  a(href='https://info.btcz.rocks/', target='_blank') Visit
                td
                  a(href='https://github.com/bitcoinz-sites/bitcoinz-infosite', target='_blank') Github
              tr
                td 3
                td Website
                td Donation Funds Tracker
                td
                  a(href='https://btcz.fund/', target='_blank') Visit
                td
                  a(href='https://github.com/bitcoinz-sites/bitcoinz-donation-page', target='_blank') Github
              tr
                td 4
                td Website
                td Guides Site
                td
                  a(href='http://bitcoinzguiding.ovh/', target='_blank') Visit
                td
                  a(href='https://github.com/bitcoinz-sites/bitcoinz-guides', target='_blank') Github
              tr
                td 5
                td Wallet
                td Copay Wallet
                td N/A
                td
                  a(href='https://github.com/bitcoinz-wallets/bitcoinz-copay-wallet', target='_blank') Github
              tr
                td 6
                td Moderation / Posting
                td Reddit
                td
                  a(href='https://www.reddit.com/r/BTCZCommunity/', target='_blank') Visit
                td N/A
              tr
                td 7
                td Moderation / Posting
                td Facebook Group
                td
                  a(href='https://www.facebook.com/groups/bitcoinz.community/', target='_blank') Visit
                td N/A
              tr
                td 8
                td Moderation / Posting
                td Twitter
                td
                  a(href='https://twitter.com/BitcoinZTeam', target='_blank') Visit
                td N/A
              tr
                td 9
                td Plugin-Development
                td
                  | Cubecart Ecommerce Plugin 
                  span.label.label-success Complete
                td
                  a(href='https://docs.google.com/document/d/18x7VbktQnYGvWeZ8lNGXrMViI4yzxRjxuInjGGrpyWg/edit?usp=sharing', target='_blank') Full Details
                td
                  a(href='https://github.com/JordanGreenies/btcz.in_cubecart', target='_blank') GitHub
          .col-md-12.text-center
            a(href='https://slack.btcz.rocks', target='_blank') Want to help? Join Slack
            |  or email bitcoinzcommunity@gmail.com
    #events.panel.panel-primary
      .panel-heading
        h3.panel-title Events
      .panel-body
        span.container
          table.table.table-striped.table-hover.table-bordered
            thead
              tr
                th #
                th Description
                th Status
                th Date
                th Link
            tbody
              tr
                td 1
                td Live Meetup #1
                td Completed
                td 11 / 19 / 2017
                td
                  a(href='https://www.youtube.com/watch?v=IuBlR06wxOo', target='_blank') View Now
              tr
                td 2
                td Live Meetup #2
                td Completed
                td 12 / 03 / 2017 - 8 am UTC / 3 am ET
                td
                  a(href='https://www.youtube.com/watch?v=HTcOLw982Ew', target='_blank') View Now
              tr
                td 3
                td Discord Community Audio Chat #1
                td Completed
                td 12 / 16 / 2017 5:00PM UTC / 9:00AM PST / 12:00PM EST
                td
                  a(href='https://discordapp.com/invite/u3dkbFs', target='_blank') Join Discord
              tr
                td 4
                td Live Meetup #3
                td Completed
                td 01 / 07 / 2018 @ 4pm UTC / 10am CST 
                td
                  a(href='https://www.youtube.com/watch?v=I_cJBqeSEvs', target='_blank') View Now
    #campaigns.panel.panel-primary
      .panel-heading
        h3.panel-title Campaigns
      .panel-body
        span.container
          table.table.table-striped.table-hover.table-bordered
            thead
              tr
                th #
                th Description
                th Status
                th Date Launched
                th Details
                th Budget
            tbody
              tr
                td 1
                td YouTube Campaign #1
                td Expired
                td 11 / 24 / 2017
                td
                  a(href='https://docs.google.com/document/d/1rnIyfPtBxYEX21e-P22oAx357g-c5dhzG1m2GAv2mtM/edit?usp=sharing', target='_blank') Full Details
                td 50,000 BTCZ
              tr
                td 2
                td Twitter Campaign #1
                td Expired
                td 11 / 24 / 2017
                td
                  a(href='https://docs.google.com/document/d/1VRZQIaosJ0Ue1q0Levc7zfAx0ku7i2VLNKuLHri8mc4/edit?usp=sharing', target='_blank') Full Details
                td 50,000 BTCZ
              tr
                td 3
                td Twitter Campaign #2
                td Expired
                td 11 / 29 / 2017
                td
                  a(href='https://docs.google.com/document/d/1GVxC6mBKIg-Jtmw6eDdvDnvpw6FopKEeA8Re9vD_lP8/edit?usp=sharing', target='_blank') Full Details
                td 100,000 BTCZ
              tr
                td 4
                td Donations For Hash Power Round #2
                td Expired
                td 12 / 01 / 2017
                td
                  a(href='https://docs.google.com/document/d/1b0pgXYDO6FgjkKXs8UxcWEqqK6teSNBPO9FenXjSagk', target='_blank')  Details 
                  a(href='https://equipool.1ds.us/workers/t1h4H4Cp3Ffwj92dzTPrEEEjQsqW24ubapP', target='_blank') / Campaign Completed
                td 50KSol/s From Volunteers
              tr
                td 5
                td Community YouTube / Twitter Campaign #1
                td Expired
                td 12 / 08 / 2017
                td
                  a(href='https://docs.google.com/document/d/1fnsY7khYimf9wOXcj6-hO0tDHVXYeFVbcql_lP3ofK4/edit?usp=sharing', target='_blank') Payment Details
                td 100,000 BTCZ
              tr
                td 6
                td Community Competition Campaign #1
                td Expired
                td 12 / 08 / 2017
                td
                  a(href='https://docs.google.com/document/d/14mPlKiQyef8rmTqZnY0hdKBHANtTEEbWXAgZY50ORKQ/edit?usp=sharing', target='_blank') Full Details
                td 45,000 - 75,000 BTCZ
              tr
                td 7
                td Hash4 Inaugural Lottery #1 
                td Completed
                td 01 / 18 / 2018
                td
                  a(href='https://hash4.btcz.rocks/', target='_blank') Full Details 
                  | / congrats to winner iapz!
                td 10% of Total BTCZ Mined
              tr
                td 8
                td Hash4 Lottery #2 
                td Completed
                td 01 / 29 / 2018
                td
                  a(href='https://hash4.btcz.rocks/', target='_blank') Full Details  
                  | / congrats to winner cryptorex!
                td 10% of Total BTCZ Mined
              tr
                td 9
                td Hash4 Lottery #3 
                td Completed 
                td 02 / 05 / 2018
                td
                  a(href='https://hash4.btcz.rocks/', target='_blank') Full Details  
                  | / congrats to winner cryptorex!
                td 10% of Total BTCZ Mined
              tr
                td 10
                td Hash4 Lottery #4 
                td  Completed 
                td 02 / 12 / 2018
                td
                  a(href='https://hash4.btcz.rocks/', target='_blank') Full Details  
                  |  / congrats to winner Robert!
                td 10% of Total BTCZ Mined
              tr
                td 11
                td Mission Statement Competition #1
                td  Active (Phase 1: collection)
                td 02 / 19 / 2018
                td
                  a(href='https://docs.google.com/document/d/1dFM3yNtowNY9RP8WHGEcRK7jQiihRSDi4lrLLZxvoKA/edit?usp=sharing', target='_blank') Full Details  
                  span.label.label-danger New
                td 10,000 BTCZ
              tr
                td 12
                td Hash4 Lottery #5 
                td  Completed 
                td 02 / 19 / 2018
                td
                  a(href='https://hash4.btcz.rocks/', target='_blank') Full Details  
                  |  / congrats to winner NinjaPickle! (donated to BTCZ Community thank you!)
                td 10% of Total BTCZ Mined
              tr
                td 13
                td Hash4 Lottery #6 
                td  Active 
                td 02 / 25 / 2018
                td
                  a(href='https://hash4.btcz.rocks/', target='_blank') Full Details  
                  span.label.label-danger New
                td 10% of Total BTCZ Mined
    #exchanges.panel.panel-primary
      .panel-heading
        h3.panel-title Exchanges
      .panel-body
        span.container
          table.table.table-striped.table-hover.table-bordered
            thead
              tr
                th #
                th Name
                th Cost
                th Status
                th Link
            tbody
              tr
                td 1
                td TradeSatoshi
                td N/A
                td Active
                td
                  a(href='https://tradesatoshi.com/Exchange?market=BTCZ_BTC', target='_blank') Trade Page
              tr
                td 2
                td CryptoBroker
                td N/A
                td Active (Issues reported)
                td
                  a(href='https://trade.cryptobroker.io/markets/btczbtc', target='_blank') Trade Page
              tr
                td 3
                td C-Cex
                td 4 BTC
                td Active
                td
                  a(href='https://c-cex.com/index.html?p=btcz-btc', target='_blank') Trade Page
              tr
                td 4
                td Stocks.Exchange
                td 0.08 BTC + 0.02 ETH pair
                td Active
                td
                  a(href='https://stocks.exchange/trade/BTCZ/BTC', target='_blank') Trade Page /
                  a(href='https://docs.google.com/document/d/12e7nJwGA3LeVKw0BAHbxtDd8Qmw9k90MUFNvBa39yOs/edit?usp=sharing', target='_blank')  Payment Details
              tr
                td 5
                td BTC-Alpha
                td 1.5 BTC or 1 BTC + 0.5 BTC in BTCZ 
                td Active
                td
                  a(href='https://btc-alpha.com/exchange/BTCZ_BTC/', target='_blank') Trade Page
                  a(href='https://docs.google.com/document/d/1R3E_XQdR4EaeSdoqD5w-o7ieL9y-_kgqBQz0j8gKOlk/edit?usp=sharing', target='_blank')  / Payment Details
              tr
                td 6
                td Crypto-Bridge
                td 400,000 BTCZ
                td Payment Refunded
                td
                  a(href='https://crypto-bridge.org/', target='_blank') Site Page
              tr
                td 7
                td BarterDEX
                td Free
                td Active Testing (Electrum mode enabled)
                td
                  a(href='https://github.com/KomodoPlatform/BarterDEX/releases', target='_blank')  Download Now!
              tr
                td 8
                td Exrates.me
                td 2 BTC
                td
                  span.label.label-success Activated
                td
                  a(href='https://exrates.me/', target='_blank')  Site Page
                  |  / 
                  a(href='https://docs.google.com/document/d/1RDa4gyp9i3ZoqQnve6wqaAU0CMoIBdPKsZiE_pBI3WA/edit?usp=sharing', target='_blank')  Payment Details
              tr.danger
                td 9
                td Next.exchange
                td Free
                td
                  span.label.label-danger Voting Now!
                td
                  a(href='https://nextexchange.featureupvote.com/suggestions/2405/bitcoinz-btcz', target='_blank')  Voting Page
              tr.danger
                td 10
                td Eucoin.io
                td Free
                td
                  span.label.label-danger Voting Now!
                td
                  a(href='http://eucoin.io/#vote_content', target='_blank')  Voting Page
              tr.danger
                td 11
                td CoinFalcon
                td TBD
                td
                  span.label.label-danger Voting Now!
                td
                  a(href='https://feedback.coinfalcon.com/feature-request/p/coin-bitcoinz-btcz', target='_blank')  Voting Page
              tr
                td 12
                td CobinHood
                td TBD
                td Need voting page
                td
                  a(href='https://cobinhood.com/home', target='_blank')  Site Page
              tr.danger
                td 13
                td Altcoin.io
                td Free
                td
                  span.label.label-danger Voting Now!
                td
                  a(href='https://feedback.altcoinexchange.com/suggestions/2021/bitcoinz-btcz-pow-equihash-algorithm', target='_blank')  Voting Page
              tr.danger
                td 14
                td Mercatox
                td Free
                td
                  span.label.label-danger Voting Now!
                td
                  a(href='https://mercatox.com/coins/list?name=btcz', target='_blank')  Voting Page
              tr.danger
                td 15
                td Cex.io
                td Free
                td
                  span.label.label-danger Voting Now!
                td
                  a(href='https://support.cex.io/hc/en-us/community/posts/115002759994-NEW-BitcoinZ-BTCZ-Please-Vote', target='_blank')  Voting Page
              tr
                td 16
                td CoinEgg.com
                td Pending Response
                td Email Submitted
                td
                  a(href='https://www.coinegg.com/trade/', target='_blank')  Site Page /
                  a(href='https://docs.google.com/document/d/1vXMZLYmHUKnQ5JF4FdOW1emq4HqEd0zhwOyDaKd3idk/edit?usp=sharing', target='_blank')  Details
              tr
                td 17
                td Binance
                td Free?
                td Need submissions
                td
                  a(href='https://drive.google.com/open?id=1EHpvQRWh_MKiYFw0PPQPAIMVDCGUgpPy4pk6EHBJljQ', target='_blank') Submit /
                  a(href='https://www.binance.com', target='_blank')  Site Page
              tr
                td 18
                td Bittrex
                td Free
                td
                  span.label.label-danger Stop Submitting Requests
                td
                  a(href='https://drive.google.com/open?id=1Bns4q7PIw6vVwoiXUpicKB-q7DxFOgj1wZaoQ6Hr4cI', target='_blank') Submit /
                  a(href='https://www.bittrex.com', target='_blank')  Site Page
              tr
                td 19
                td Coss.io
                td 200,000 COSS (~10k USD)
                td Need submissions
                td
                  a(href='https://drive.google.com/open?id=1gnod_vj0N0u1f93TGq24DePtPIN9TRublQO7Kv26L78', target='_blank') Submit /
                  a(href='https://exchange.coss.io', target='_blank')  Site Page
              tr
                td 20
                td Kucoin.com
                td TBD
                td Need submissions
                td
                  a(href='https://drive.google.com/open?id=1yhsPyrXQGHj6q4r2i-aNTv2sppKCFmAMW6aduA0TSXQ', target='_blank') Submit /
                  a(href='https://www.kucoin.com', target='_blank')  Site Page
              tr
                td 21
                td Poloniex.com
                td Free
                td Need submissions
                td
                  a(href='https://drive.google.com/open?id=1-oTYDSzbf5icg9tOvtnzRWuyifoLlGYTLIyczFhXvuY', target='_blank') Submit /
                  a(href='https://www.poloniex.com/exchange', target='_blank')  Site Page
              tr.success
                td 22
                td Coinexchange.io
                td 2 BTC
                td Raising funds
                td
                  a(href='https://www.coinexchange.io/', target='_blank') Site Page / 
                  a(href='https://hodler95.github.io/exchangesrace/', target='_blank') Race Tracker
              tr
                td 23
                td Cryptopia
                td &gt; 100k USD
                td Unrealistic pricing
                td
                  a(href='https://www.cryptopia.co.nz/', target='_blank') Site Page / 
                  a(href='https://www.cryptopia.co.nz/Paytopia', target='_blank') Paytopia
              tr
                td 24
                td HitBTC
                td 20 BTC
                td Need funding
                td
                  a(href='https://hitbtc.com/', target='_blank') Site Page
              tr
                td 25
                td Livecoin
                td 6 BTC
                td Need funding
                td
                  a(href='https://www.livecoin.net/', target='_blank') Site Page
              tr.success
                td 26
                td Openledger.io
                td  $10,000 USD 
                td Raising Funds
                td
                  a(href='https://openledger.info', target='_blank') Site Page / 
                  a(href='https://hodler95.github.io/exchangesrace/', target='_blank') Race Tracker
              tr
              tr.success
                td 27
                td CoinRail
                td  5 BTC 
                td Raising Funds
                td
                  a(href='https://coinrail.co.kr', target='_blank') Site Page / 
                  a(href='https://hodler95.github.io/exchangesrace/', target='_blank') Race Tracker
    #infrastructure.panel.panel-primary
      .panel-heading
        h3.panel-title Infrastructure
      .panel-body
        span.container
          table.table.table-striped.table-hover.table-bordered
            thead
              tr
                th #
                th Category
                th Status
                th Description
            tbody
              tr
                td 1
                td Wallet
                td Completed
                td Backend wallet services migrated 
              tr
                td 2
                td Explorer
                td Completed
                td
                  | Insight explorers deployed and operational
                  a(href='https://bitcoinzguiding.ovh/explorers.html', target='_blank')  See List
              tr
                td 3
                td Wallet
                td Completed
                td
                  | Web wallet operational
                  a(href='https://mybtczwallet.org', target='_blank')  Visit Wallet
              tr
                td 4
                td Monitoring
                td Completed
                td
                  | Monitor script created using ZABBIX for wallet services; email notifications sent to community email
              tr
                td 5
                td Explorer
                td Completed
                td
                  | btczexplorer.blockhub.info update price API to pull from coinmarketcap last price; update marketcap to instant update
              tr
                td 6
                td Domains
                td Pending transfer
                td
                  | bitcoinz.global; bitcoinz.ph pending transfer - currently managing via cloudflare DNS
              tr
                td 7
                td Forums
                td Pending decommission
                td
                  | connect.bitcoinz.global forum will be decomissioned due to required license and infrastructure; we will rely on publically available sites for information
              tr
                td 8
                td Sites / Services
                td In testing
                td Testing load balancing of wallet services and websites 
              tr
                td 9
                td TOR Node
                td Completed
                td
                  strong TOR Node address:
                  |  xiv7crijwn4i4hwj.onion sp6lvlurevy4fplr.onion / 
                  a(href='https://btcz.rocks/documents/tutorial-tor-node.pdf', target='_blank')  Tutorial
              tr
                td 10
                td MyBTCZWallet 
                td Completed
                td
                  | Payment in amount of 25,774 BTCZ paid / 
                  a(href='https://docs.google.com/document/d/17zFqhF4T_NvVggcyJOp7ApCDEcS-ak3FFRm6yxbL2YQ/edit?usp=sharing', target='_blank')  Details
              tr
                td 11
                td Flipmybitz.com Marketplace 
                td Completed
                td
                  a(href='https://www.flipmybitz.com/', target='_blank')  Visit Marketplace
              tr
                td 12
                td Domain Transfers 
                td Partially Completed
                td
                  a(href='https://docs.google.com/document/d/1IiQpDsNDHc5d-EazTWlPFiwChVra6TobeLPqfUeLHPU/edit?usp=sharing', target='_blank')  Payment Details
              tr
                td 13
                td Blockchain Bootstrap 
                td Completed 
                td
                  a(href='http://cryptochainer.com/dir/')  Download Bootstrap
              tr
                td 14
                td Explorer Maintenance 
                td Completed 
                td
                  a(href='https://btczexplorer.blockhub.info') Explorer
                  |  / Upgraded bitcoinz to latest build
              tr
                td 15
                td Payment Gateway 
                td
                  | Beta Testing 
                  span.label.label-danger New
                td
                  a(href='https://btcz.in') Gateway Site 
                  |  / 
                  a(href='https://docs.google.com/document/d/1MphpNppJ68zxsx27YSrxcwMd4ygNC4yPRKbUci-nrgM/edit?usp=sharing', target='_blank') Service Details
              tr
                td 16
                td IP.Board Nexus Payment Module 
                td
                  | Beta Testing 
                  span.label.label-danger New
                td
                  a(href='https://github.com/JordanGreenies/btcz.in_ipboard', target='_blank') GitHub 
              tr
                td 17
                td CubeCart Payment Module 
                td
                  | Beta Testing 
                  span.label.label-danger New
                td
                  a(href='https://github.com/JordanGreenies/btcz.in_cubecart', target='_blank') GitHub 
              tr
                td 18
                td BitcoinZ Forums 
                td
                  | Launched 
                  span.label.label-danger New
                td
                  a(href='https://forum.btcz.rocks', target='_blank') Visit Forum 
    #wallets.panel.panel-primary
      .panel-heading
        h3.panel-title Wallets
      .panel-body
        span.container
          table.table.table-striped.table-hover.table-bordered
            thead
              tr
                th #
                th Name
                th Status
                th Description
            tbody
              tr
                td 1
                td Swing Wallet UI
                td Completed
                td Windows core wallet created
              tr
                td 2
                td Swing Wallet UI
                td Completed
                td Windows core wallet updated with seeders; addresses 0 connection issue
              tr
                td 3
                td CoPay Wallet system 
                td Completed
                td
                  | Rotation and load balancing of mobile wallet services is causing minor stability issues; pushing the boundaries of decentralization
              tr
                td 4
                td Core node wallet
                td Completed
                td
                  | Integration of updated zcash core will be merged with bitcoinz core node wallet system; updated zkSNARKs handling; merged zcash 1.0.13
                  a(href='https://z.cash/blog/new-release-1-0-13.html', target='_blank')  Release Notes 
              tr
                td 5
                td Windows Gui Wallet
                td In Development
                td
                  | Community member is writing a windows wallet with custom GUI. 
                  a(href='https://imgur.com/Ph8GX2J', target='_blank')   See Example 
              tr
                td 6
                td Android, iOS, macOS, Linux, Windows CoPay Wallet (MyBitcoinZ)
                td Android, macOS, Linux completed
                td
                  | CoPay wallet system is undergoing revision; update of links may be required; redistribution may be required
              tr
                td 7
                td Copay wallet system
                td Completed 
                td
                  | Removing Bitcoin Cash (BCH) support to lighten the code base; please move your coins out
              tr
                td 8
                td Coinomi wallet
                td Completed 
                td
                  a(href='https://coinomi.com/') Coinomi Site
              tr
                td 9
                td Paper wallet
                td Completed
                td
                  a(href='https://paper.btcz.rocks') Create Wallet
              tr
                td 10
                td Paper wallet
                td
                  | Completed 
                  span.label.label-danger New
                td Alignment fix for Firefox / Chrome now live!
.navbar.navbar-default
  .col-md-12
    ul.nav.text-center
      li.text-center
        p(style='margin-top:15px;')
          | Created by BitcoinZ Team - A Gift To Cryptocurrency 
          a.navbar-link(href='https://github.com/bitcoinz-sites/bitcoinz-infosite', target='_blank')
            br
            |  Fork On Github

